<div class="container pl-0 pr-0">
  <div class="row">
    <div class="col-md-6">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 hero" src="../../assets/Images/thali3.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 hero" src="../../assets/Images/74.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 hero" src="../../assets/Images/hero3.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-6 my-auto">
      <div>
        <p class="text-md-left subtxt" style="font-weight: bold;font-size: 30px;">
          "Taste the essence of Gujarat at Testebite, where every bite tells a flavorful story of tradition and
          authenticity."
        </p>
      </div>
      <div>
        <p class="subtxt mt-3">
          <button routerLink="/menu" class="button">Explore Menu</button>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <about></about> -->
<div class="container text-center mt-4 pt-5 mb-0 pl-0 pr-0">
  <div class="row justify-content-around">
    <p style="font-family:Cookie;" class="font-weight-bold display-3">Catering Services</p>
  </div>
  <div class="row justify-content-around">
    <div class="rounded col-md-3 p-4 col-12 mb-md-0 mb-2">
      <div class="text-center">
        <img src="../../assets/Images/cake.png" class="img-fluid img-xs-s" alt="...">
      </div>
      <div class="skat">
        <p class="text-center subtxt">Birthday Party</p>
      </div>
      <div class="row">
        <p class="text-center subtxt">Indulge in delectable delights tailored for your special day with our birthday party catering.</p>
      </div>
    </div>
    <div class="rounded col-md-3 p-4 col-12 mb-md-0 mb-2">
      <div class="text-center">
        <img src="../../assets/Images/meeting_.png" class="img-fluid img-xs-s" alt="...">
      </div>
      <div class="skat">
        <p class="text-center subtxt">Business Meetings</p>
      </div>
      <div class="row">
        <p class="text-center subtxt">Elevate your business meetings with gourmet cuisine and impeccable service from our catering team.</p>
      </div>
    </div>

    <div class="rounded col-md-3 p-4 col-12 mb-md-0 mb-2">
      <div class="text-center">
        <img src="../../assets/Images/wedding.png" class="img-fluid img-xs-s" alt="...">
      </div>
      <div class="skat">
        <p class="text-center subtxt">Wedding Party</p>
      </div>
      <div class="row">
        <p class="text-center subtxt">Make your wedding day an unforgettable culinary experience with our exquisite catering services.</p>
      </div>
    </div>
  </div>
  <p class="subtxt mt-3" style="text-align: right;font-weight: bolder;">
    <a routerLink="/contact" style="font-size: 18px;color: black;">Inquire Now <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
    </svg></a>
  </p>
</div>

<div class="container p-0 mb-5 pt-0">
  <div class="row pt-5 ml-0">
    <div class="col-md-6">
      <div class="containeer imgs nunito">
        <div>
          <div class="image"><img src="../../assets/Images/33.jpg" alt="Image 4">
            <p class="text-image">Surti khaman</p>
          </div>
        </div>
        <div class="image">
          <img src="../../assets/Images/87.jpg" alt="Image 1">
          <p class="text-image">Desi Olo Rotlo</p>
        </div>
        <div class="image d-none d-lg-block">
          <img src="../../assets/Images/8.jpg" alt="Image 2">
          <p class="text-image">Gajar Halvo</p>
        </div>
        <div class="image d-none d-lg-block">
          <img src="../../assets/Images/34.jpg" alt="Image 3">
          <p class="text-image">Famous Dhokla</p>
        </div>
        <!-- <div class="image d-none d-lg-block">
          <img src="../../assets/Images/34.jpg" alt="Image 3">
          <p class="text-image">World Famous Dhokla</p>
        </div> -->

      </div>
      <!-- <div class="img__wrap">
          <img class="img__img" src="../../assets/Images/33.jpg" alt="Image 4">
          <p class="img__description">this is khaman</p>
        </div> -->
    </div>
    <div class="col-md-6 my-auto mx-auto">
      <div>
        <p class="font-weight-bold display-3" style="font-family:Cookie;">Our Speciality</p>
      </div>
      <div>
        <p class="text-md-left subtxt">
          Experience the vibrant flavors of Gujarat on your plate! Indulge in our authentic Gujarati cuisine, where
          every dish is a celebration of tradition and taste. Savor the richness of Gujarat's culinary heritage at our
          restaurant.
        </p>
      </div>
      <div>
        <p class="subtxt mt-3">
          <button routerLink="/menu" class="button">Explore Menu</button>
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

