<!-- <footer>
    
</footer> -->
<div class="container-fluid pl-0 pr-0" style="font-family: 'nunito';background-color: rgba(239, 187, 187, 0.585);padding-top: 20px;">
    <div class="row m-0" style="justify-content: space-around;">
        <div class="col-md-3 m-0" style="padding-left: 100px;">
            <p style="font-weight: bold;font-size: 18px;">Tastebite Private limited</p>
            <!-- <img src="../../assets/Images/logo.png" alt="Company Logo" class="img-fluid mb-3" style="height: 50px;width: 100px;"> -->
            <div class="row">
                <i class="fa fa-phone-square mr-2 mt-1" aria-hidden="true"></i>
                <p>+91 987-654-3210</p>
            </div>
            <div class="row " >
                <i class="fa fa-envelope mr-2 mt-1" aria-hidden="true"></i>
                <p>info@tastebite.com</p>
            </div>
            <div class="row">
                <i class="fa fa-instagram mr-2 mt-1" aria-hidden="true"></i>
                <p>tastebite_2003</p>
            </div>
        </div>
        <div class="col-md-3 p-0 " style="font-size: 18px;text-align: center;">
            <p style="font-weight: bold;">Timing</p>
            <p>Mon-Fri: 8 AM - 10 PM</p>
            <p>Sat-Sun: 8 AM - 12 AM</p>
        </div>
        <div class="col-md-2 p-0 " style="text-align: center;">
            <p style="font-weight: bold;font-size: 18px;">Important Links</p>
            <p><a routerLink="/">Home</a></p>
            <p><a routerLink="/menu">Menu</a></p>
            <p><a routerLink="/cart">Cart</a></p>
        </div>
        <div class="col-md-3 p-0 " style="text-align: center;">
            <p style="font-weight: bold;font-size: 18px;">Contact Us</p>
            <p><a>Help & Support</a></p>
            <p><a type="button" routerLink="/inq">Partner with us</a></p>
            <p><a type="button" routerLink="/contact">Enquire for services</a></p>

        </div>
    </div>
</div>
